__pycache__
.idea
.vscode
venv
__pycache__/
*.py[codz]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
node_modules/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.csv
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/
profile_default/
ipython_config.py
*.rdb
*.aof
*.pid

